section{
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.additem {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 90%;
}

.additem input{
    border: none;
    width: 300px;
    border-radius: 30px;
    padding: 12px;
    margin: 10px 10px 10px 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
} 