html {
    scroll-behavior: smooth;
    user-select: none;
}

/* ===== GLOBAL ===== */
body {
    background: repeating-linear-gradient(100deg, #000, #2e2e2eab);
    color: #fff;
}

/* ===== HEADER  ===== */
header {
    width: 99%;
    position: fixed;
    top: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 100;
}

header.hide {
    transform: translate(-50%, -120%);
    opacity: 0;
}

.header-container {
    height: 80px;
    min-height: 80px;
    max-height: 80px;
    padding: 0 25px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    backdrop-filter: blur(25px);
    border-radius: 50px;
    overflow: hidden;
}

/* ========= header Logo ========= */
.logo {
    position: relative;
    display: flex;
    align-items: center;
    gap: 20px;
}

.logo-img {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}

.rotation-img {
    position: absolute;
    width: 80px;
    height: 80px;
    animation: spin 10s linear infinite;
}

@keyframes spin {
    to {
        transform: rotate(360deg);
    }
}

.logo h1 {
    font-size: 40px;
    font-family: "Dancing Script";
    color: rgba(255, 214, 33, 0.8);
}

/* ============ Mid typing text =========== */
.mid {
    font-size: 30px;
    font-family: "Dancing Script", cursive;
    color: #ffdb0ca6;
}

/* ========== Navigations ======== */
nav {
    display: flex;
    align-items: center;
    gap: 30px;
}

nav a {
    text-decoration: none;
    color: #fff;
    font-family: "Caveat", cursive;
    font-size: 25px;
}
.logoutbtn{
    font-size: 17px;
    background: linear-gradient(45deg, #ff9800, #ff5722);
    border: none;
    font-family: "Bodoni+Moda";
    color: #fff;
    padding: 9px 20px;
    border-radius: 30px;
    cursor: pointer;
}

/* ========== login ========== */
.overlay {
    position: fixed;
    inset: 0;
    background: rgba(0, 0, 0, 0.425);
    backdrop-filter: blur(9px);
    display: flex;
    align-items: center;
    justify-content: center;
    z-index: 999;
}

.hidden {
    display: none;
}

.auth-container {
    background: rgba(0, 0, 0, 0.486);
    padding: 50px;
    width: 300px;
    border-radius: 30px;
    text-align: center;
    position: relative;
}

.auth-container h2 {
    margin-bottom: 15px;
}

.auth-container input {
    width: 90%;
    padding: 10px;
    margin: 5px 0;
    border-radius: 20px;
    border: none;
}

.auth-container button {
    width: 100%;
    margin-top: 10px;
}

.close-btn {
    position: absolute;
    right: 15px;
    top: 10px;
    font-size: 22px;
    cursor: pointer;
}

.link {
    color: #ff9800;
    cursor: pointer;
} 

/* ==========Logged-in avatar======== */
.avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #ff5722;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
}

@media (max-width: 1080px) {
    .mid {
        display: none;
    }
}


/* ========== HERO SECTION ========= */
.hero {
    z-index: 1;
    width: 90%;
    min-height: 100vh;
    overflow: hidden;
}

.slider-item {
    position: absolute;
    inset: 0;
    display: grid;
    place-content: center;
    text-align: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1.2s ease;

}

.slider-item.active {
    opacity: 1;
    visibility: visible;
}

.slider-bg {
    position: absolute;
    inset: 0;
    z-index: -1;
    overflow: hidden;
}

.slider-bg img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    opacity: 0.5;
}

.slider-item.active .slider-bg img {
    animation: zoom 7s linear forwards;
}

@keyframes zoom {
    to {
        transform: scale(1.15);
    }
}

.hero .slider-item.active .section-subtitle {
    font-size: 30px;
    margin-bottom: 0;
    animation: reveal 1s ease forwards;
    animation-delay: 500ms;
}

.hero .slider-item.active .hero-title {
    font-size: 25px;
    animation: reveal 1s ease forwards;
    animation-delay: 50ms;
}

.hero .slider-item.active .hero-text {
    animation: reveal 1s ease forwards;
    animation-delay: 1.5s;
}

.slider-reveal {
    opacity: 0;
    transform: translateY(50px);
}

@keyframes reveal {
    to {
        opacity: 1;
        transform: translateY(-50px);
    }
}

/* =========== MENU + animation ========= */
.autoshow {
    animation: textappears both;
    animation-timeline: view(1% 10%);
    animation-range: entry cover 90vh;
}

@keyframes textappears {
    from {
        opacity: 0;
        transform: translateY(200px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}

.imgrevel {
    animation: imgrevel both;
    animation-timeline: view(100% 1%);
    animation-range: entry cover 50vh;
}

@keyframes imgrevel {
    from {
        filter: saturate(0) contrast(5) brightness(.9) blur(50px);
        opacity: 0;
        /* scale: .01; */
        translate: 0px 300px;
    }
    to {
        filter: none;
        opacity: 1;
        scale: 1;
        translate: 0 0;
    }
}

.menu1 {
    margin: 30px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 8fr));
    gap: 30px;
    padding: 40px;
}

.partition {
    margin-top: 70px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.partition h1 {
    font-size: 2.2rem;
    text-align: center;
    color: #ffffff;
}

.partition img {
    height: 40px;
    width: 250px;
}

.card {
    width: 300px;
    background: linear-gradient(135deg, #1b1b1b, #22222283);
    border-radius: 20px;
    padding: 20px;
    transition: 0.4s;
}

.card:hover {
    transform: scale(1.03);
    box-shadow: 0px 30px 80px rgba(255, 140, 0, 0.521);
    background: linear-gradient(135deg, #2a1a00, #3a2400da);
}

.card img {
    width: 100%;
    height: 180px;
    object-fit: cover;
    border-radius: 15px;
}

.price {
    margin-top: 0;
    margin-bottom: 10px;
    color: #ff9800;
}

.card h2 {
    margin-bottom: 0;
}

button{
    background: linear-gradient(45deg, #ff9800, #ff5722);
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
}

/* cart */
.cart {
    background-color: rgba(0,0,0,0.7);
    position: fixed;
    bottom: 15px;
    right: 15px;
    width: 320px;
    color: #fff;
    border: 2px solid #222;
    border-radius: 30px;
    padding: 40px;
    z-index: 9999;
    box-shadow: 0 0 10px rgba(0,0,0,0.9);
}

.ordbutton{
    text-decoration: none;
    background: linear-gradient(45deg, #ff9800, #ff5722);
    border: none;
    color: #fff;
    padding: 10px 20px;
    border-radius: 30px;
    cursor: pointer;
}

.cart h3 {
    margin: 0 0 10px;
    text-align: center;
}

.cart-item {
    display: flex;
    justify-content: space-between;
    margin-bottom: 8px;
    max-height: 200px;
    font-size: 14px;
}

.qty-btn {
    padding: 2px 6px;
    cursor: pointer;
}

.total {
    font-weight: bold;
    text-align: right;
    margin-top: 10px;
}


/* about us */
.chooseus {
    margin-bottom: 200px;
    margin-top: 200px;
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.chooseus p {
    margin-top: 100px;
    font-size: 2.2rem;
}

.chooseus img {
    width: 15%;
}

.collection {
    width: 100%;
    margin-top: 80px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 30px;
}

.uscard {
    width: 30%;
    height: 400px;
    margin-top: 20px;
    margin-bottom: 100px;
    background: linear-gradient(135deg, #222, #2a2a2a);
    border-radius: 20px;
    padding: 20px;
    transition: 0.4s;
}

.uscard:hover {
    transform: scale(1.03);
    box-shadow: 0 35px 70px rgba(255, 140, 0, 0.6);
    background: linear-gradient(135deg, #2a1a00, #3a2400);
}

.uscard img {
    width: 100%;
    height: 160px;
    object-fit: cover;
    border-radius: 15px;
}


/* footer */
footer {
    top: 200px;
    height: 100vh;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
}

footer p {
    display: flex;
    align-items: center;
    justify-content: space-around;
    gap: 10px;
}

footer img {
    border-radius: 90px;
    width: 100%;
    height: 100vh;
    position: absolute;
    object-fit: cover;
    opacity: 0.2;
}

.div1 {
    z-index: 2;
}

.div1 a {
    text-decoration: none;
    color: rgb(255, 172, 172);
    font-size: 25px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 20px;
    z-index: 2;
}

.div1 a:hover {
    color: #ff43a1ef;
}

.div2 {
    color: #fad4d4;
    display: flex;
    flex-direction: column;
    align-items: center;
    z-index: 1;
    font-size: 30px;

}

.feedback {
    font-size: 20px;
    color: rgb(0, 0, 0);
    height: 70px;
    width: 70%;
    background-color: #ffacacdc;
    border: none;
    border-radius: 30px;
}

.submit-btn {
    padding: 20px;
    margin-top: 20px;
    font-size: 20px;
    color: rgb(240, 240, 240);
    background-color: #501717dc;
    border: none;
    border-radius: 50px;
    z-index: 3;
}

.div3 {
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    gap: 40px;
}

.div3 ion-icon {
    color: #ac7474;
    width: 80px;
    height: 50px;
    z-index: 1;
}

.div3 ion-icon:hover {
    filter: grayscale(1) brightness(.7);
    scale: 1.2;
}


